<!doctype html>
<html>
    <head>
        <title>APRILMANIA</title>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
    </head>
    <body>
        <header>
            <h1>APRILGRAM</h1>        
        </header>
        <main role="main">
            <article class="post">
                <div class="user-info">
                    <img src="https://avatars2.githubusercontent.com/u/31714133?v=4" width="20px"></a>
                    <h2>Chris_L</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/1kht853Xftw" frameborder="0" allowfullscreen></iframe>
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Chris_L: just one annoying doggy!
                        </p>
                    </li>
                </ul>
                
            </article>
        </main>
    </body>
</html>