<!doctype html>
<html>
    <head>
        <title>APRILMANIA</title>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <link rel="stylesheet" href="../../public/stylesheets/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>APRILGRAM</h1>        
        </header>
        <main role="main">
            <article class="post">
                <div class="user-info">
                    <img src="https://avatars2.githubusercontent.com/u/31714133?v=4" width="20px"></a>
                    <h2>Chris_L</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <iframe width="440" height="315" src="https://www.youtube.com/embed/1kht853Xftw" frameborder="0" allowfullscreen></iframe>
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Chris_L: just one annoying doggy!
                        </p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                          <img src="https://lh3.googleusercontent.com/LFaBExZdnbGm9Twc_iwfwnhr-z9RmI3b9nAbuS6K6DdJHREzn546sugKEyGqPoph0YIKy6xIRJte7fZVXGcE8_YgWX4qcNpKwvWTNHqZDqrc_B9UMqlgFbslOA0wOtJ797O2QXgqwj7x9ZDRwtGySFGqK4EQWsBiFfy_H3297RWSQcTaiaZBH1C6008nG-qHLjAYYz8FxbNA2FhiEgFIBdtnXswxg1v9O1sW-eow4IYqiElQmIgaAzqdC9il16LHJmVUsgHgD4_xSJnNlcnq-E9nq1q3Kzp7fjaI96C9NKDbzpS2rG1M5FGT1Q4fBJLccc3Zvtm7l_ll3wUcSS037OG__Duv6MHCwabPMEdjX5Rm3ZqFA8FMr4atmxREOWf7hKgalIRJc42alWsTUxLALWxhVrNPSVW9gKBzs9yPkk1MZc3Ep38AH6uojX5dr34c54yoimuJJY1FNFUQO9KS8Xj88sF1oi62YZtLAHxH-wHPt6BKLtAok2rG7MgS2bs8I_Y1NTYiMwaFSuEc-_tl6KOi3n1-JdMUD1oA34BNk4Cov8s5HDT3NNzM4dRgADGfEFRRIq_mj4xvqN7IF9fkuTlfDTvNZ6HgAAQTQlAPleuOxfaHvSV9g9g1tFmEUjpSAAcGh8bbjySZ0XObQxKbMg0q1385pppW6Ayy=w349-h621-no" alt="post from kirk_whalum">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>kirk_whalum: #woohoo</p>
                    </li>
                </ul>
            </article>
            
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                     <img src="https://lh3.googleusercontent.com/orPadIwXYtDEcN6dloJBCKV4F8S67C7-cYym6wFwrbXTBvRUBS29Y_VWcC5O-q6Ltna9AzMWpCyrNgTxVxLb2c01Y0nBBekR3LmHf2OaLUhImaEAv6luCiQHr_H7RJy_lPc2vi1Rxi1ZwA75JblRPORn9ukHW5fGK4kq9mqJViw3qIghfVtLn4GQ7vYRJmbmVraXHKgYDVgQA9YKKlzBfvlZqbu60PJ0KUcQS_r9cYaM1EMDb1HY88z_pYtuViKK0U6L-YuklnDU-ntjzRX33qVYmYKOnuLW3CuNYoYoKPpO7a9HmoClIgppOdJeJU544j7fZC9fTX3Ld8edQaBgWxKZfIAKr8ihYFaTkLPP6MrpISMWswxoCgg5SfsdUUzu8smn9DCL7dHsgCGsc1sEox27v_iK1YHE0yUi2fB7Gi7FFT_t1bhq0fufEX2fFr5XkDAo4BMQrb2EpNpHnSiXuMDYedwVG26ZvdcmIteNjkdFycsZPLrZObiZfSuCslttoSw2TTzJTnfPkQlMq3lMgz0xOAhZLC1VeROCLqWrGovp6DmIKXqT59V5I_lFuyLt5VAPmg-bA5jCmFFxezMqXuh2yKPsIEAaVwbveZjqDOMrjAdNUPYRRoMyGQOAgFR2Ilw65Cy9HKXKjajakXhXQBhk3-8jxpp1QTUh=w828-h621-no" alt="post from marlin_peppa">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>marlin_peppa: yummy1;) </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>